<div class="row mb-5 justify-content-end">
  <div class="col-md-4">
    <button class="btn btn-block btn-success" style="font-weight: bold;" data-toggle="modal"
      data-target=".bs-example-modal-lg">
      Agregar
      <i class="fa fa-solid fa-plus"></i>
    </button>
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Fecha</th>
        <th>Imagen</th>
        <th>Editar imagen</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let calendario of listCalendario! | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{calendario.titulo}}</td>
        <td>{{calendario.descripcion}}</td>
        <td>{{calendario.fecha}}</td>
        <td>
          <div>
            <img src="{{urlPDF}}/{{calendario.img}}" class="rounded" alt="...">
          </div>
        </td>
        <td>
          <button class="btn btn-primary" data-toggle="modal" data-target=".editarImagen"
            (click)="obtenerDatos(calendario.id)">
            <i class="fa fa-solid fa-images"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-warning" data-toggle="modal" data-target=".editarCalendario"
            (click)="obtenerDatos(calendario.id)">
            <i class="fa fa-solid fa-pencil"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="eliminarCalendario(calendario.id)">
            <i class="fa fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
</div>

<!-- AGREGAR CALENDARIO -->

<div class="modal fade bs-example-modal-lg show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Agregar Calendario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancelar()">×</button>
      </div>
      <form #form="ngForm" (ngSubmit)="agregarCalendario()">
        <div class="modal-body">
          <div class="form-group text-center">
            <img src="{{imgDefaultImagen}}" class="img-thumbnail imgdefault" alt="...">
          </div>
          <div class="form-group">
            <input type="file" #fileInputPDF class="form-control" (change)="capturarFileImagen($event)">
          </div>
          <div class="form-group">
            <label class="control-label">Nombre</label>
            <input type="text" id="firstName" class="form-control" placeholder="agregar un nombre"
              [(ngModel)]="calendarioForm.titulo" name="titulo">
          </div>
          <div class="form-group">
            <label class="control-label">Descripcion</label>
            <textarea class="form-control" rows="5" [(ngModel)]="calendarioForm.descripcion" name="descripcion"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label">Fecha</label>
            <input type="date" class="form-control" placeholder="dd/mm/yyyy" [(ngModel)]="calendarioForm.fecha" name="fecha">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"
            (click)="cancelar()">Cancelar</button>
          <button type="submit" class="btn btn-info waves-effect text-left">Agregar</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- EDITAR CALENDARIO -->

<div class="modal fade editarCalendario show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Editar Calendario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancelar()">×</button>
      </div>
      <form #form="ngForm" (ngSubmit)="editarCalendario()">
        <div class="modal-body">

          <div class="form-group">
            <label class="control-label">Nombre</label>
            <input type="text" id="firstName" class="form-control" placeholder="agregar un nombre"
              [(ngModel)]="editarCalendarioForm.titulo" name="titulo">
          </div>
          <div class="form-group">
            <label class="control-label">Descripcion</label>
            <textarea class="form-control" rows="5" [(ngModel)]="editarCalendarioForm.descripcion" name="descripcion"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label">Fecha</label>
            <input type="date" class="form-control" placeholder="dd/mm/yyyy" [(ngModel)]="editarCalendarioForm.fecha" name="fecha">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"
            (click)="cancelar()">Cancelar</button>
          <button type="submit" class="btn btn-info waves-effect text-left">Editar</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- EDITAR IMAGEN -->

<div class="modal fade editarImagen show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Editar Imagen</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancelar()">×</button>
      </div>
      <form #form="ngForm" (ngSubmit)="editarLogoCalendario()">
        <div class="modal-body">
          <div class="form-group text-center">
              <img src="{{imgDefaultImagen}}" class="img-thumbnail imgdefault" alt="...">
          </div>
          <div class="form-group">
            <input type="file" #fileInput
              class="form-control"
              (change)="capturarFileImagen2($event)"
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"
            (click)="cancelar()">Cancelar</button>
          <button type="submit" class="btn btn-info waves-effect text-left">Editar</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
