<div class="row mb-5 justify-content-end">
  <div class="col-md-4">
    <button class="btn btn-block btn-success" style="font-weight: bold;" data-toggle="modal"
      data-target=".bs-example-modal-lg">
      Agregar
      <i class="fa fa-solid fa-plus"></i>
    </button>
  </div>
</div>

<!-- Tabla de Ministerio -->
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>N°</th>
        <th>Titulo</th>
        <th>Nombre fecha</th>
        <th>Descripcion</th>
        <th>Ministerio</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipoMinisterio of listTipoMinisterio! | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{tipoMinisterio.id}}</td>
        <td>{{tipoMinisterio.titulo}}</td>
        <td>{{tipoMinisterio.nom_fecha}}</td>
        <td>{{tipoMinisterio.descripcion}}</td>
        <td>{{tipoMinisterio.Ministerio.nombre}}</td>
        <td>
          <button class="btn btn-warning"
          data-toggle="modal" data-target=".modalEditar"
          (click)="obtenerDatos(tipoMinisterio.id)"
          >
            <i class="fa fa-solid fa-pencil"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="eliminarTipoMinisterio(tipoMinisterio.id)">
            <i class="fa fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" previousLabel="Atras"
  nextLabel="Siguiente"></pagination-controls>
</div>
<!-- AGREGAR TIPO MINISTERIO -->
<div class="modal fade bs-example-modal-lg show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Agregar Tipo Liturgia</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancelar()">×</button>
      </div>
      <form #form="ngForm" (ngSubmit)="agregarTipoMinisterio()">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Titulo <i style="color: red; font-size: 12px;" class="fa fa-solid fa-star-of-life"></i></label>
            <input type="text" id="firstName" class="form-control" placeholder="agregar un nombre"
             [(ngModel)]="tipoMinisterioForm.titulo" name="titulo">
          </div>
          <div class="form-group">
            <label class="control-label">Fecha <i style="color: red; font-size: 12px;" class="fa fa-solid fa-star-of-life"></i></label>
            <input type="text" id="firstName" class="form-control" placeholder="agregar un nombre"
             [(ngModel)]="tipoMinisterioForm.nom_fecha" name="nom_fecha">
          </div>
          <div class="form-group">
            <ckeditor
            [(ngModel)]="tipoMinisterioForm.descripcion" name="descripcion">
            </ckeditor>
          </div>
          <div class="form-group">
            <label class="control-label">Ministerio <i style="color: red; font-size: 12px;" class="fa fa-solid fa-star-of-life"></i></label>
            <select class="form-control custom-select" [(ngModel)]="tipoMinisterioForm.id_ministerio" name="id_liturgia">
              <option value="">Seleccionar una opcion</option>
              <option *ngFor="let ministerio of listMinisterio" value="{{ministerio.id}}" >{{ministerio.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"
            (click)="cancelar()">Cancelar</button>
          <button type="submit" class="btn btn-info waves-effect text-left">Agregar</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade modalEditar show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Agregar Tipo Liturgia</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancelar()">×</button>
      </div>
      <form #form="ngForm" (ngSubmit)="editarTipoMinisterio()">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Titulo <i style="color: red; font-size: 12px;" class="fa fa-solid fa-star-of-life"></i></label>
            <input type="text" id="firstName" class="form-control" placeholder="agregar un nombre"
             [(ngModel)]="editarTipoMinisterioForm.titulo" name="titulo">
          </div>
          <div class="form-group">
            <label class="control-label">Fecha <i style="color: red; font-size: 12px;" class="fa fa-solid fa-star-of-life"></i></label>
            <input type="text" id="firstName" class="form-control" placeholder="agregar un nombre"
             [(ngModel)]="editarTipoMinisterioForm.nom_fecha" name="nom_fecha">
          </div>
          <div class="form-group">
            <ckeditor
            [(ngModel)]="editarTipoMinisterioForm.descripcion" name="descripcion">
            </ckeditor>
          </div>
          <div class="form-group">
            <label class="control-label">Ministerio <i style="color: red; font-size: 12px;" class="fa fa-solid fa-star-of-life"></i></label>
            <select class="form-control custom-select" [(ngModel)]="editarTipoMinisterioForm.id_ministerio" name="id_liturgia">
              <option value="">Seleccionar una opcion</option>
              <option *ngFor="let ministerio of listMinisterio" value="{{ministerio.id}}" >{{ministerio.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"
            (click)="cancelar()">Cancelar</button>
          <button type="submit" class="btn btn-info waves-effect text-left">Editar</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
